* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(22, 22, 22);
}

input {
    outline: none;
}

ul li {
    list-style-type: none;
}

#app {
    width: 100%;
    margin: auto;
}

.top {
    width: 100%;
    height: 85px;
}

.top a {
    text-decoration: none;
}

.top-tp {
    position: relative;
    width: 100%;
    height: 80px;
    background-color: rgba(39, 39, 39, 0.973);
}
#topa{
    position: relative;
    width: 1500px;
    height: 80px;
    margin: auto;
}
#logo {
    position: absolute;
    top: 12px;
    left: 200px;
    width: 180px;
    height: 50px;
}

.top-tp ul {
    position: absolute;
    left: 400px;
    width: 582px;
}

.top-tp ul li {
    width: 80px;
    height: 80px;
    float: left;
    text-align: center;
}

.top-tp ul li:nth-of-type(6) {
    background-color: rgb(26, 25, 25);
}

.top-tp ul li:nth-of-type(6) a {
    color: rgb(255, 255, 255);
}

.top-tp ul li:hover {
    background-color: rgb(26, 25, 25);
}

.top-tp ul li:hover a {
    color: rgb(255, 255, 255);
}

.top-tp ul li a {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.699);
    line-height: 75px;
}

.top-tp .sous {
    position: absolute;
    left: 900px;
    margin-top: 20px;
    margin-right: 10px;
    width: 150px;
    height: 35px;
    padding-left: 30px;
    border-radius: 20px;
    border: 0;
}

#button {
    position: absolute;
    left: 1100px;
    top: 22px;
    margin-right: 10px;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.76);
    background-color: rgb(39, 39, 39);
    border: 1px rgb(88, 88, 88) solid;
    cursor: pointer;
}

#button:hover {
    border: 1px solid #fff;
}

.denglu {
    position: absolute;
    top: 26px;
    left: 1230px;
    color: rgb(109, 107, 107);
}

.denglu:hover {
    color: rgb(145, 141, 141);
}

.top-fot {
    width: 100%;
    height: 5px;
    background-color: rgb(206, 5, 5);
}
#maina{
    position: relative;
    width: 1500px;
    height: 80px;
    margin: auto;
}
#main {
    width: 100%;
    height: 100%;
}

#main ul {
    position: absolute;
    left: 20px;
    width: 1500px;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
}

#main ul li {
    position: relative;
    width: 700px;
}

#main ul li p {
    text-align: center;
    margin-top: 50px;
    color: rgba(219, 219, 219, 0.89);
    font-size: 25px;
}

#main ul li:first-of-type p {
    margin-left: 150px;
}

#main ul li img {
    position: absolute;
    top: 120px;
    left: 150px;
    width: 75%;
}

#main ul li:nth-of-type(2) img {
    width: 40%;
    left: 200px;
}

#main ul li input {
    position: absolute;
    top: 480px;
    left: 250px;
    width: 200px;
    height: 50px;
    color: #fff;
    border-radius: 30px;
    font-size: 18px;
    background-color: rgb(241, 18, 18);
    border: 0px;
}

#main ul li:first-of-type input {
    left: 300px;
}